// Global variables
@img-root: '../img';
@slide-width: 1500px;
@screen-height: 1000px;
@slide-bg-color: #262626;
@shade-bg: rgba(50,50,50,.6);
@shadow: 1px 2px 10px rgba(32,32,32,.7);
@text-gray: #8b9094;
@nav-border: #39393a;
@audio-height: 50px;
@nav-button-color: #343434;
@nav-button-hover: #33363b;


// TEMPLATE
body { background-color: @slide-bg-color }
#footer ul.bottomlist li.help a,
#footer ul.bottomlist li.contact a { color: #fff; font-weight: bold; }

#main-content { }


// TITLE SCREEN
#titlecard { 
	height: @screen-height;
	background: @slide-bg-color url('@{img-root}/black_thread.png') repeat;
	/* Background pattern via Subtle Patterns: http://subtlepatterns.com/black-thread/ */
}
#title-inner { padding-top: 60px; }
#title-button {
	display: block;
	width: 50%;
	margin: 0 auto;
	background: @shade-bg;
	border: 2px solid rgba(60,60,60,.6);
	border-radius: 6px;
	padding: 30px;
	color: @text-gray;
	text-decoration: none;
	text-shadow: @shadow;
	
	h1 {
		background: url('@{img-root}/hed-in-memoriam.png') no-repeat;
		height: 73px;
		text-indent: -9999px;
		overflow: hidden;
	}
	h2 {
		font: normal normal 30px/1.5 Georgia, serif;
		color: #fff;
		margin-top: 25px;
		margin-bottom: 0;
		outline: none;
	}
	h2:hover { color: @text-gray; }
	h5, p { font: italic normal 24px/1.5 Georgia, serif; }
}


// AUDIO NAV
#audio-navbar {
	position: static;
	z-index: 1000;
	height: @audio-height;
	padding: 0 20px;
	overflow: hidden;
	background-color: @slide-bg-color;
	border-top: 2px solid #222;
	
	:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.branding { 
		display: inline-block; 
		padding-right: 30px;
		padding-top: 10px;
		float: left;
		cursor: pointer;
	}
	.branding h2 { 
		background: url('@{img-root}/hed-in-memoriam-small.png') no-repeat;
		width: 242px; height: 30px;
		text-indent: -9999px;
		margin: 0;
	}
}
#audio {
	float: left;
	height: @audio-height;
	border-left: 1px solid @nav-border;
	border-right: 1px solid @nav-border;
}
#slide-nav {
	margin: 0; padding: 0; list-style: none;
	width: 100%; height: @audio-height;
	position: relative;
}
.slide-nav-item {
	width: 16px; height: @audio-height;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	margin-left: -5px;
	position: absolute; top: 0;
	
	span { 
		display: block;
		width: 6px; height: 6px;
		background-color: @nav-border;
		border-radius: 3px;
		margin: 21px auto 0 auto;
		text-indent: -9999px;
	}
}
.slide-nav-item:hover { background-color: @nav-button-hover; }
.slide-nav-item:hover span { background-color: @text-gray; }
.slide-nav-item.active span { background-color: @text-gray; }

.nav-btn  { 
	border-left: 1px solid @nav-border;
	color: #88919a;
	font-size: 12px; 
	text-transform: uppercase; 
	font-weight: bold;
	text-align: center;
	z-index: 1000; padding: 15px 10px;
	position: absolute;
	top: 1044px;
	width: 60px; height: 20px;
}
.nav-btn:hover {
	background-color: @nav-button-hover;
	color: #b0b0b0;
	cursor: pointer;
}
#next-btn { right: 0; }
#back-btn { right: 81px; }

#browse-btn {
	border-right: 1px solid @nav-border;
	width: 40px; height: 20px;
    position: relative;
    top: 0px;
    float: left;
}

/* AUDIO PLAYER */
div.jp-audio { 
	font-size: .9em/1.6 Arial, sans-serif; 
	color: #fff; 
	width: 600px;
}
div.jp-jplayer { width:0px; height:0px; background-color: #000000; }
div.jp-interface { position: relative; width: 100%; height: 100%; }
.jp-controls {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 41px;
	float: left;

	a  { 
		overflow: hidden; text-indent: -9999px; 
		display: block; float: left;
		width: 40px; height: @audio-height;
		border-right: 1px solid @nav-border; 
		z-index: 1; outline: none; 
		background-color: @nav-button-color;
		background-image: url("../img/jplayer-black-blue.png"); 
		background-repeat: no-repeat;
	}
	a.jp-play         { background-position: 5px 10px; }
	a.jp-play:hover   { background-position: -28px 10px; background-color: @nav-button-hover; }
	a.jp-pause        { background-position: 5px -19px; display: none; }
	a.jp-pause:hover  { background-position: -28px -19px; background-color: @nav-button-hover; }
}

div.jp-progress-container { 
	width: 493px;
	padding-left: 5px;
	height: 100%; 
	float: left;
	position: relative;
	background-color: @nav-button-color;
}
div.jp-progress { overflow: hidden; width: 100%; height: @audio-height; background-color: @slide-bg-color; position: absolute; top: 0; left: 0; }
div.jp-seek-bar { width: 0px; height: @audio-height; }
div.jp-play-bar { width: 0px; height: @audio-height; background-color: @nav-button-color; border-right: 1px solid @nav-border; }

div.jp-current-time { 
	float: right; 
	width: 50px; 
	color: #8b9094; 
	text-align: center; 
	padding: 15px 5px 18px 5px;
	border-left: 1px solid @nav-border;
}


// SLIDESHOW
#slideshow { 
	color: #fff;
	position: relative;
	height: @screen-height;
	overflow-y: hidden; overflow-x: hidden;
	
	a { color: #fff; font-weight: bold; }
}
#slideshow-wrap {
	z-index: 999;
	width: 66000px;
	height: @screen-height;
	overflow-y: hidden; overflow-x: scroll;
}
.panel {
	background-color: @slide-bg-color;
	-webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
	width: @slide-width;
	height: @screen-height;
	position: relative;
	overflow-y: hidden; overflow-x: scroll;
	float: left;
}
.panel-description {
	display: block;
	width: 30%;
	margin-top: 50px;
	background: @shade-bg;
	padding: 15px 20px 25px 20px;
	text-decoration: none;
	position: absolute; top: 30%; left: 0;
	text-shadow: @shadow;
	
	h2 { margin-bottom: 5px; color: #fff; font-weight: normal; font-size: 48px; }
	p { font-size: 18px; line-height: 1.5; font-family: Georgia, serif; font-style: italic; }
	.desc { margin-bottom: 20px; }
	.npr-obit, .npr-artist { font: normal normal 14px Arial, Helvetica, sans-serif; color: #aaa; }
	.npr-obit + .npr-artist { margin-top: -5px; }
	.now-playing, .photo-credit { font: normal normal 12px Arial, Helvetica, sans-serif; color: #aaa; }
	.now-playing { margin-top: 20px; margin-bottom: 5px; }
	.photo-credit { margin-bottom: 0; }
}


// MEDIA QUERIES
@media (max-width: 979px) {
	@slide-width: 980px;
	@screen-height: 600px;

	#titlecard, #slideshow, #slideshow-wrap { height: @screen-height; }
	.panel { width: @slide-width; height: @screen-height; }
}
@media (max-width: 480px) {
	@slide-width: 480px;
	@screen-height: 320px;
	
	#titlecard, #slideshow, #slideshow-wrap { height: @screen-height; }
	.panel { width: @slide-width; height: @screen-height; }
	#title-inner { padding: 20px; }
	#title-button { 
		width: auto; border: none; background: none; padding: 0;
		
		h1 { background-image: url('@{img-root}/hed-in-memoriam-mobile.png'); height: 47px; }
		h2 { font-size: 24px; }
		h5, p { font-size: 16px; }
	}
}
