// Global variables
@img-root: '../img';
@screen-height: 1000px;
@slide-bg-color: #262626;
@shade-bg: rgba(50,50,50,.6);
@shadow: 1px 2px 10px rgba(32,32,32,.7);
@text-gray: #8b9094;
@nav-border: #39393a;


// TEMPLATE
body { background-color: @slide-bg-color }
#footer ul.bottomlist li.help a,
#footer ul.bottomlist li.contact a { color: #fff; font-weight: bold; }

#main-content { }


// TITLE SCREEN
#title-inner { 
	background: @slide-bg-color url('@{img-root}/black_thread.png') repeat;
	/* Background pattern via Subtle Patterns: http://subtlepatterns.com/black-thread/ */
	height: @screen-height;
	padding-top: 60px;
}
#title-button {
	display: block;
	width: 50%;
	margin: 0 auto;
	background: @shade-bg;
	border: 2px solid rgba(60,60,60,.6);
	border-radius: 6px;
	padding: 30px;
	color: @text-gray;
	text-decoration: none;
	text-shadow: @shadow;
	
	h1 {
		background: url('@{img-root}/hed-in-memoriam.png') no-repeat;
		height: 73px;
		text-indent: -9999px;
		overflow: hidden;
	}
	h2 {
		font: normal normal 30px/1.5 Georgia, serif;
		color: #fff;
		margin-top: 25px;
		margin-bottom: 0;
		outline: none;
	}
	h2:hover { color: @text-gray; }
	h5, p { font: italic normal 24px/1.5 Georgia, serif; }
}


// AUDIO NAV
#audio-navbar {
	position: static;
	z-index: 1000;
	height: 50px;
	padding: 0 20px;
	overflow: hidden;
	background-color: @slide-bg-color;
	border-top: 2px solid #222;
	
	:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.branding { 
		display: inline-block; 
		padding-right: 30px;
		padding-top: 10px;
		float: left;
	}
	.branding h2 { 
		background: url('@{img-root}/hed-in-memoriam-small.png') no-repeat;
		width: 242px; height: 30px;
		text-indent: -9999px;
		margin: 0;
	}
}
#audio {
	float: left;
	height: 41px;
	padding-top: 9px;
	border-left: 1px solid @nav-border;
	border-right: 1px solid @nav-border;
}
#slide-nav {
	margin: 0; padding: 0; list-style: none;
	width: 400px; height: 50px;
	margin-left: 30px;
	float: left;
	position: relative;
}
.slide-nav-item {
	padding: 0; margin: 0;
	width: 6px; height: 6px; overflow: hidden;
	background-color: @nav-border;
	border-radius: 3px;
	position: absolute; top: 21px;
	cursor: pointer;
	
	span { display: none; }
}
.slide-nav-item:hover { background-color: #33363b; }
.slide-nav-item.active { background-color: @text-gray; }


// BACK & NEXT
.nav-btn  { 
//	background-color: #343434;
	border-left: 1px solid @nav-border;
	color: #88919a;
	font-size: 12px; 
	text-transform: uppercase; 
	font-weight: bold;
	text-align: center;
	z-index: 1000; padding: 15px 10px;
	position: absolute;
	top: 1104px;
	width: 60px; height: 20px;
}
.nav-btn:hover {
	background-color: #33363b;
	color: #b0b0b0;
	cursor: pointer;
}
#next-btn { right: 0; }
#back-btn { right: 81px; }


// SLIDESHOW
#slideshow { 
	color: #fff;
	position: relative;
	height: @screen-height;
	overflow-y: hidden; overflow-x: hidden;
	
	a { color: #fff; font-weight: bold; }
}
#slideshow-wrap {
	z-index: 999;
	width: 66000px;
	height: @screen-height;
	overflow-y: hidden; overflow-x: scroll;
}
.panel {
	background-color: @slide-bg-color;
	-webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
	width: 1500px;
	height: @screen-height;
	position: relative;
	overflow-y: hidden; overflow-x: scroll;
	float: left;
}
.panel-description {
	display: block;
	width: 30%;
	margin-top: 50px;
	background: @shade-bg;
	padding: 15px 20px 25px 20px;
	text-decoration: none;
	position: absolute; top: 30%; left: 0;
	text-shadow: @shadow;
	
	h2 { margin-bottom: 5px; color: #fff; font-weight: normal; font-size: 48px; }
	p { font-size: 18px; line-height: 1.5; font-family: Georgia, serif; font-style: italic; }
	.desc { margin-bottom: 20px; }
	.npr-obit, .npr-artist { font: normal normal 14px Arial, Helvetica, sans-serif; color: #aaa; }
	.npr-obit + .npr-artist { margin-top: -5px; }
	.now-playing, .photo-credit { font: normal normal 12px Arial, Helvetica, sans-serif; color: #aaa; }
	.now-playing { margin-top: 20px; margin-bottom: 5px; }
	.photo-credit { margin-bottom: 0; }
}
