{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/memoriam.less') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn-complete.min.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}


<div id="titlecard">
	<div id="title">
		<div id="title-inner">
			<a id="title-button" href="#">
				<h5>NPR Music presents</h5>
				<h1>In Memoriam</h1>
				<p>NPR Music remembers the singers, instrumentalists, songwriters and producers who died in 2012. Explore the musical legacies they leave behind.</p>
				<h2>Play &#9656;</h2>
			</a>
		</div>
	</div>
</div>

<div id="audio-navbar">
	<div class="branding">
		<h2>In Memoriam: 2012</h2>
	</div>

	<div id="audio">
	
		<div id="pop-audio" class="jp-jplayer"></div>
		
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
				
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<a href="javascript:;" class="jp-play" tabindex="1">play</a>
							<a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
						</div>
						<div class="jp-progress-container">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<ul id="slide-nav"></ul>
						</div>
						<div class="jp-current-time"></div>
					</div>
				</div>
			</div>
	</div>

    <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i></div>
</div>


<div id="back-btn" class="nav-btn">&lt; Back</div>
<div id="next-btn" class="nav-btn">Next &gt;</div>


<div id="slideshow">
</div>

<div id="browse-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Browse artists</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

{% endblock %}


{% block extra_foot_js %}
{% endblock %}
{% block extra_foot %}{% endblock %}
