{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/memoriam.less') }}
    {{ CSS.push('css/jplayer-black-and-yellow.css') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn-complete.min.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}


<div  id="titlecard">
	<div id="title">
		<div id="title-inner">
			<a id="title-button" href="#">
				<h5>NPR Music presents</h5>
				<h1>In Memoriam</h1>
				<p>NPR Music remembers the singers, instrumentalists, songwriters and producers who died in 2012. Explore the musical legacies they leave behind.</p>
				<h2>Play &#9656;</h2>
			</a>
		</div>
	</div>
</div>

<div id="audio-navbar">
	<div id="audio">
	
		<div id="pop-audio" class="jp-jplayer"></div>
		
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
				
					<div class="jp-gui jp-interface">
						<ul class="jp-controls">
							<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
							<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
							
							<li><a href="javascript:;" class="jp-mute" tabindex="1">mute</a></li>
							<li><a href="javascript:;" class="jp-unmute" tabindex="1">unmute</a></li>
							
						</ul>
						<div class="jp-progress-container">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
						</div>
						
						<div class="jp-volume-bar-container">
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	
	<!--
	<ul id="chapter-nav">
		<li><div id="disco"><a id="discovery" href="#c1">discovery</a></div></li>
		<li><div id="wit"><a id="witness" href="#c2">witness</a></div></li>
		<li><div id="ob"><a id="obsessive" href="#c3">obsessive</a></div></li>
		<li><div id="myth"><a id="mythic" href="#c4">depth</a></div></li>
	</ul>
	-->

</div>


<div id="back-btn" class="nav-btn">Back</div>
<div id="next-btn" class="nav-btn">Next</div>


<div id="slideshow">
</div>


{% endblock %}


{% block extra_foot_js %}
{% endblock %}
{% block extra_foot %}{% endblock %}
