{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/memoriam.less') }}
{% endblock %}

{% block extra_head_js %}{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}


<div  id="titlecard">
	<div id="title">
		<div id="title-inner">
			<a id="title-button" href="#">
				<h5>NPR Music presents</h5>
				<h1>In Memoriam</h1>
				<p>NPR Music remembers the singers, instrumentalists, songwriters and producers who died in 2012. Explore the musical legacies they leave behind.</p>
				<h2>Play &#9656;</h2>
			</a>
		</div>
	</div>
</div>

<div id="slideshow">
	<div id="back-btn" class="nav-btn">Back</div>
	<div id="next-btn" class="nav-btn">Next</div>
</div>


{% endblock %}


{% block extra_foot_js %}{% endblock %}
{% block extra_foot %}{% endblock %}